= semantic_form_for @bank do |f|
  - f.inputs do
    = f.input :account_number
    = f.input :amount
    = f.input :transaction_type, :as => :radio, :collection => [ "Credit", "Debit" ]
    = f.input :description, :input_html => { :rows => 5, :cols => 70 }
    = f.input :date
  = f.buttons
