%h1 Listing banks

%table
  %tr
    %th Account number
    %th Amount
    %th Transaction type
    %th Description
    %th Date
    %th
    %th
    %th

  - @banks.each do |bank|
    %tr
      %td= bank.account_number
      %td= bank.amount
      %td= bank.transaction_type
      %td= bank.description
      %td= bank.date
      %td= link_to 'Show', bank
      %td= link_to 'Edit', edit_bank_path(bank)
      %td= link_to 'Destroy', bank, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bank', new_bank_path
