= form_for @loan do |f|
  -if @loan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
      %ul
        - @loan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :giver_name
    = f.text_field :giver_name
  .field
    = f.label :loan_start_date
    = f.date_select :loan_start_date
  .field
    = f.label :loan_promise_date
    = f.date_select :loan_promise_date
  .field
    = f.label :loan_amount
    = f.text_field :loan_amount
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
