= semantic_form_for @loan do |f|
  = f.inputs do 
    = f.input :giver_name 
    = f.input :loan_start_date 
    = f.input :loan_promise_date 
    = f.input :loan_amount 
    = f.input :status, :as => :select, :collection => [ "paid", "pending", "not paid yet" ] 
  = f.buttons
