%h1 Listing activities

%table
  %tr
    %th Date
    %th Description
    %th From
    %th To
    %th Cash
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.date
      %td= activity.description
      %td= activity.from
      %td= activity.to
      %td= activity.cash
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Activity', new_activity_path
