<!DOCTYPE html>
<html>
<head>
  <title>HomeFinance</title>

<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css","formtastic","formtastic_changes" %>

<%#= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css","screen","style","application","formtastic","formtastic_changes" %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js","application","rails" %>


  <%= csrf_meta_tag %>
</head>
<body>
  <% if user_signed_in? %>
    <%= link_to "Expenses", expenses_path %> |
    <%= link_to "Home", root_url %> |
    <%= link_to "My Account", edit_user_registration_path %> |
    <%= link_to "Sign Out", destroy_user_session_path %> |
  <% end %>
  <%= yield %>
  
</body>
</html>
